.main-content-wrapper {
  display: flex;
  flex-direction: column;
}
#root {
  /* max-width: 960px; */
}

#gifs-main {
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

header {
  padding: 0 3em 0.5em;
  background-color: bisque;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
  margin-left: 30px;
  list-style-type: none;
}

.navigation li {
  flex: 3;
  margin-left: 30px;
}

.navigation .count {
  margin-left: 10px;
}

.navigation .company-name {
  margin-left: 40px;
}

.navigation a.active {
  color: red;
}

#content {
  flex-direction: column;
  text-align: center;
}

#gifs-main,
nav ul {
  list-style-type: none;
}

.card {
  position: relative;
  left: 0;
  top: 0;
}

.btn-heart {
  position: relative;
  top: 0;
  right: 0;
}
