/**    BEM **/
/************** Site-Wide **************/
body {
  background-color: black;
  color: #e2e2e2;
  font-family: 'Open Sans', sans-serif;
}

.Site {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #0984e3;
}

h1,
h2 {
  font-weight: 400;
}

/************** Header **************/

.Siteheader {
  display: flex;
  justify-content: center;
  width: 100%;

  padding: 1em 0;
  background-color: #ffeaa7;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.Siteheader__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
  margin-top: 0.6em;
}

.nav__item {
  margin-left: 1em;
}

/* .nav__item__search::before {

} */

.nav__item__count {
  margin-left: 0.5em;
  padding: 0.12em;
  background-color: white;
  color: red;
  border-radius: 5px;
  font-size: 0.7em;
}

.Siteheader__company-name_1,
.Siteheader__company-name_2 {
  font-size: 3em;
}

.Siteheader__company-name_1 {
  color: #0984e3;
}

.Siteheader__company-name_2 {
  color: orange;
}

.Content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 95%;
  margin-top: 134px;
}

.Content__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Content__header__alert {
  color: red;
}

.Cards {
  display: flex;
  flex-flow: nowrap;
  margin-left: 0;
  width: 100%;
  position: relative;
  flex-direction: column;
  margin-bottom: 4em;
}

.Cards__card {
  display: flex;
  flex: auto;
  margin-bottom: 1em;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  transition: 0.5s all ease;
}

.Cards__card:hover {
  transform: scale(1.06);
}

.card__img {
  flex: auto;
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
}

.card {
  position: relative;
  left: 0;
  top: 0;
}

.card__img__btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
}

.card__info {
  height: 2.8em;
  width: 100%;
  position: absolute;
  bottom: -10em;
  padding-top: 0.3em;
  font-size: 1.2em;
  z-index: 1;
  text-align: center;
  /* visibility: hidden; */
  transition: 0.5s;
}

.Cards__card:hover .card__info {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  /* visibility: visible; */
}

/************** Form **************/
.Formgroup {
  width: 100%;
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.Formgroup__input {
  background-color: #e2e2e2;
  width: 12em;
  font-size: 0.7em;
  border-radius: 5px;
  padding-left: 0.4em;
}

.Formgroup__btn {
  margin-left: 0.6em;
  font-size: 0.8em;
  color: black;
  background-color: orange;
  border-radius: 5px;
}

.Form-results-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Form-results-text__search {
  color: #ffeaa7;
  font-size: 1.5rem;
  flex: auto;
}

.Form-results-text__instructions {
  color: #e2e2e2;
  font-size: 0.8em;
  flex: auto;
}

/************** Footer **************/
.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background-color: black;
  color: #ffeaa7;
}

/************** Helpers **************/
.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

/************** Media Queries **************/
@media (min-width: 415px) {
  /* .Siteheader__nav .company-name {
    margin-left: 40px;
  } */

  .Cards {
    flex-flow: row wrap;
    flex-direction: row;
  }

  .Cards__card {
    margin-left: 1em;
  }

  .card__img {
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 640px) {
  .Siteheader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .Siteheader__nav {
    width: initial;
    margin-left: 15%;
  }

  .Content {
    width: 90%;
    margin-top: 6em;
  }

  .Form-results-text {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .Form-results-text__instructions {
    margin-left: 2em;
    margin-bottom: 1em;
  }
}

@media (max-width: 793px) {
  .Form-results-text {
    margin-bottom: 1em;
  }
}

/*****************************/
/* 
.main-content-wrapper {
  display: flex;
  flex-direction: column;
} */

.Siteheader__nav ul {
  /* display: flex; */
  /* margin-left: 30px; */
  list-style-type: none;
}

.Siteheader__nav li {
  flex: 3;
  margin-left: 30px;
}

.Siteheader__nav .count {
  margin-left: 10px;
}

.Siteheader__nav a.active {
  color: orange;
}

/* #content {
  flex-direction: column;
  text-align: center;
} */

/* #gifs-main,
nav ul {
  list-style-type: none;
} */
